.subPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5rem 6rem;
    background-color: rgba(255, 255, 255, 0.12);
}


    .subPanel:hover {
        background-color: rgba(255, 255, 255, 0.18);
    }

    .subPanel:active {
        background-color: var(--activeColorBright);
    }

    .iconLabelSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .labelCheckboxSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin-left: 4rem;
        font-size: var(--fontSizeXS);
    }

    .icon {
        width: 24rem;
        height: 24rem;
        margin-right: 0.5em;
    }

    .label {
        color: rgba(254, 254, 254, 0.8);
        font-size: var(--fontSizeS);
    }

        .label:disabled {
            color: rgba(254, 254, 254, 0.6);
        }
